<div hx-target="this" class="mt-3 py-3 px-3 bg-white shadow border border-gray-100">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Marca: {{ c.matricula }}
    </h3>
    <p class="text-gray-600">Modelo: {{ c.rotas  }}</p>
    <p class="text-gray-600">Cor: {{ c.data_do_incidente }}</p>
    <p class="text-gray-600">Modelo: {{ c.tipo_de_infracao  }}</p>
    <p class="text-gray-600">Cor: {{ c.limpeza_do_carro }}</p>
    <p class="text-gray-600">Modelo: {{ c.observacoes  }}</p>
    </div>
</div>